TD {
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt
}
BODY {
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt
}
SELECT {
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt
}
A {
	FONT-FAMILY: 宋体; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #000099; FONT-FAMILY: 宋体; FONT-SIZE: 9pt; LINE-HEIGHT: 12pt; TEXT-DECORATION: underline
}
.text2 {
	COLOR: #000000; FONT-FAMILY: 宋体; FONT-SIZE: 14px; TEXT-DECORATION: none
}
.form {
	BACKGROUND-ATTACHMENT: scroll; BACKGROUND-COLOR: #ffffff; BACKGROUND-POSITION: 0% 40%; BACKGROUND-REPEAT: repeat; BORDER-BOTTOM: #999999 2px solid; BORDER-LEFT: #999999 2px solid; BORDER-RIGHT: #d2cfc8 1px solid; BORDER-TOP: #999999 2px solid; COLOR: #666666; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt
}
A:active {
	COLOR: #000000; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; TEXT-DECORATION: none
}
A:hover {
	COLOR: #003399; TEXT-DECORATION: underline
}
A:link {
	COLOR: #000000; TEXT-DECORATION: none
}
A:visited {
	COLOR: #000000; TEXT-DECORATION: none
}
.p3 {
	FONT-FAMILY: "宋体"; FONT-SIZE: 14px; LINE-HEIGHT: 20px
}
.p2 {
	FONT-FAMILY: "宋体"; FONT-SIZE: 20px
}
.text9 {
	FONT-FAMILY: "宋体"; FONT-SIZE: 10pt
}
.font11 {
	FONT-FAMILY: "宋体"; FONT-SIZE: 10.5pt; LINE-HEIGHT: 14pt
}
.btn {
	BACKGROUND: #ceffce; BORDER-BOTTOM: #31ce31 1px solid; BORDER-LEFT: #009c31 1px solid; BORDER-RIGHT: #31ce31 1px solid; BORDER-TOP: #009c31 1px solid; COLOR: #330000; CURSOR: hand; HEIGHT: 18px; LETTER-SPACING: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 1px
}
