.yz {
	COLOR: #ffffff; FONT-FAMILY: "黑体"; FONT-SIZE: 10pt; FONT-STYLE: normal; FONT-WEIGHT: 500; TEXT-DECORATION: underline
}
.yz1 {
	COLOR: #ff0000; FONT-FAMILY: "宋体"; FONT-SIZE: 10pt
}
.yz2 {
	COLOR: #000000; FONT-FAMILY: "宋体"; FONT-SIZE: 10pt; FONT-WEIGHT: 500
}
.yz4 {
	COLOR: #ffffcc; FONT-FAMILY: "仿宋_GB2312"; FONT-SIZE: 18pt; FONT-WEIGHT: 500
}
.yz5 {
	COLOR: #ffffcc; FONT-FAMILY: "宋体"; FONT-SIZE: 12pt
}
.yzw {
	COLOR: #ffffff; FONT-FAMILY: "宋体"; FONT-SIZE: 10pt; LINE-HEIGHT: 20pt; TEXT-DECORATION: none
}
.bg1 {
	BORDER-BOTTOM: #ffcc66 thin solid; BORDER-LEFT: #ffcc66 thin solid; BORDER-RIGHT: #ffcc66 thin solid; BORDER-TOP: #ffcc66 thin solid
}
.sjw1 {
	COLOR: #000000; FONT-FAMILY: "宋体"; FONT-SIZE: 10pt; TEXT-DECORATION: none
}
.more {
	COLOR: #ff0000; FONT-FAMILY: "黑体"; FONT-SIZE: 9pt; FONT-STYLE: normal
}
.rd {
	COLOR: #ffffcc; FONT-FAMILY: "宋体"; FONT-SIZE: 9pt; FONT-WEIGHT: 600; TEXT-DECORATION: none
}
