BODY {
	COLOR: #000000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 14px; TEXT-DECORATION: none
}
P {
	COLOR: #000000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; LINE-HEIGHT: 15px
}
A {
	COLOR: #0000ff; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff0000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
EM {
	COLOR: #808080; FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal; TEXT-TRANSFORM: none
}
I {
	FONT-FAMILY: Arial; FONT-STYLE: italic; FONT-WEIGHT: bold
}
BIG {
	COLOR: #000000; FONT: bold 17pt Times New Roman
}
TD {
	FONT-SIZE: 9pt; FONT-STYLE: normal; FONT-WEIGHT: normal
}
.title {
	FONT-SIZE: 11pt; FONT-WEIGHT: normal; LINE-HEIGHT: 16px
}
.clist {
	BACKGROUND-COLOR: #5a84ef; COLOR: white; FONT-WEIGHT: bold
}
.FeaturePics {
	BORDER-BOTTOM-COLOR: #ffffff; BORDER-BOTTOM-STYLE: solid; BORDER-LEFT-COLOR: #ffffff; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #ffffff; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: #ffffff; BORDER-TOP-STYLE: solid
}
.FeaturePicsOn {
	BORDER-BOTTOM-COLOR: #00ff00; BORDER-BOTTOM-STYLE: solid; BORDER-LEFT-COLOR: #00ff00; BORDER-LEFT-STYLE: solid; BORDER-RIGHT-COLOR: #00ff00; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: #00ff00; BORDER-TOP-STYLE: solid
}
